@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");
@import "tailwindcss";
@plugin "@tailwindcss/typography";

@font-face {
  font-family: "Rockybilly";
  src: url("https://fonts.cdnfonts.com/s/114875/Rockybilly.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@theme {
  --font-serif: "Rockybilly", serif;
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
}

.fresh-gradient {
  background-color: rgb(134, 239, 172);
  background-image: linear-gradient(
    to right bottom,
    rgb(219, 234, 254),
    rgb(187, 247, 208),
    rgb(254, 249, 195)
  );
}

@layer utilities {
  .hide-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .hide-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

@layer base {
  a, button, [role="button"] {
    cursor: pointer !important;
  }
}
